body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19766 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0;
  color:#FFFFFF;
}
#u19766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
